* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.characters-list-container {
  padding: 30px;
  background-color: #121238;
}

.characters-list-container .characters-list-header {
  color: #ffff;
}

.characters-list-container .characters-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin: 30px 0px;
}
.characters-list-container .pagination-container {
  display: flex;
  justify-content: center;
  color: #ffff;
}


.characters-list-container .pagination-container button{
  color: #ffff;
  border: 1px solid #ffff;
}

.characters-list-container .pagination-container button .Mui-selected{
  border: 1px solid #ffff;
}


.character-details-container {
  padding: 30px;
}

.character-details-container .character-details {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.member-details .info .character-name {
  display: flex;
  gap: 5px;
}
